<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>AM Blog</title>
      <meta property="og:title" content="{{ site.title }}" />
      <meta property="og:image" content="{{ site.cover }}" />
      <meta property="og:description" content="{{ site.description }}"/>
      <meta property="og:url" content="https://dcruzships.github.io/AMBlog"/>
      <meta property="og:type" content="website" />
      <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
      <meta name="viewport" content="width=device-width">

      <!-- syntax highlighting CSS -->
      <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

      <!-- Custom CSS -->
      <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

      <!-- Responsive CSS -->
      <link rel="stylesheet" href="{{ site.baseurl }}/css/responsive.css">

      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel='stylesheet' type='text/css'>
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel='stylesheet' type='text/css'>

      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121153070-2"></script>
      <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-121153070-2');
      </script>
  </head>
  <body>
    <div class="site">
      <div class="sidebar" id="sidebar">
        <div class="header">
          <h1 class="title"><a href="/AMBlog/"><img id="logo" src="{{ site.baseurl }}/images/logo.png"></a></h1>
          <span class="tagline">A blog for ramblings, demos, nudes, and knock knock jokes.</span>
        </div>
        <div class="posts">
          <ul class="posts-list">
            {% for post in site.posts %}
              <li class="post-link">
                <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
                  <span class="post-date">{{ post.date | date_to_string }}</span>
                  {{ post.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="footer">
          <span id="footer-links">
            <a href="https://dcruzships.github.io" class="footer-link"><img src="{{ site.baseurl }}/images/home.png">   </a>
            <br><br><br>
            <a href="https://www.facebook.com/ImAltonaMeadows" class="footer-link"><img src="{{ site.baseurl }}/images/fb.png">   </a>
            <a href="https://soundcloud.com/altonameadows" class="footer-link"><img src="{{ site.baseurl }}/images/sc.png">   </a>
            <a href="https://github.com/Dcruzships" class="footer-link"><img src="{{ site.baseurl }}/images/gh.png">   </a>
            <a href="https://www.linkedin.com/in/dcruzships" class="footer-link"><img src="{{ site.baseurl }}/images/li.png"></a>
          </span>
        </div>
      </div>

        {{ content }}

    </div>
    <script src="{{ site.baseurl }}/scripts/responsive.js" type="text/javascript"></script>
  </body>
</html>
